/* src/assets/css/tailwind.css*/
@tailwind base;
@tailwind components;
@tailwind utilities;

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
    overflow: visible;
}