---
layout: base
---
<main class="m-6 w-screen">
<h1 class="text-4xl font-bold mt-3">CDKTF Pre-built provider health dashboard</h1>
<p class="text-xs uppercase mb-6">Last Updated: {{page.date.toUTCString()}}</p>
<div class="flex flex-row flex-wrap">
{% for repo in repos | sortRepos %}
    <div class="bg-gray-100 rounded p-2 drop-shadow-md m-4 w-1/5">
        <h2 class="text-xl capitalize font-bold flex flex-row items-center space-x-2 ml-2 text-gray-600">
            <a href={{repo.html_url}} target="_blank">{{ repo.name.replace("cdktf-provider-", "") }}</a>
            <a class="flex flex-row items-center space-x-1" href="{{repo.html_url}}/issues">
                <span class="fill-green-500">{% githubIcon 'issue-opened' %}</span>
                <span class="text-xs {{ "text-green-500" if repo.issues.length === 0 else "text-red-500 " }}">{{ repo.issues.length }}</span>
            </a>
            <a class="flex flex-row items-center space-x-1" href="{{repo.html_url}}/pulls">
                <span class="fill-purple-500">{% githubIcon 'git-pull-request' %}</span>
                <span class="text-xs {{ "text-green-500" if repo.pulls.length === 0 else "text-red-500 " }}">{{ repo.pulls.length }}</span>
            </a>
        </h2>
        <h3 class="text-sm capitalize flex flex-row items-center space-x-2 ml-2 text-gray-600">
            <a class="flex flex-row items-center space-x-1" href="{{repo.html_url}}/issues">
                <span>{% githubIcon 'tag' %}</span>
                <a href={{repo.latestRelease.html_url}} target="_blank">{{ repo.latestRelease.tag_name }}</a>
            </a>
            <span title="Provider Version">{{ repo.packageJson.cdktf.provider.version }} / {{repo.provider.latestVersion}}</span>
            <span title"CDKTF Dependency Version">{{ repo.packageJson.peerDependencies.cdktf }}</span>
            <span>{{ repo.latestRelease.published_at | daysAgo }}</span>
        </h2>
        <ul class="flex flex-row flex-wrap">
            {% for workflowName, workflowItems in repo.workflows %}
                <li class="m-1">
                    <a href={{workflowItems[0].html_url}} target="_blank">
                        <div class="text-sm p-1 rounded {{ "bg-green-300" if workflowItems[0].conclusion === "success" else "bg-red-400 " }}">{{workflowName}} <span class="text-xs block text-gray-600">{{workflowItems[0].created_at | daysAgo }}</span></div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
</div>
</main>