name: Build Eleventy
on:
  schedule:
    - cron: "0 * * * *"
  push:
    branches:
      - main
    paths-ignore:
      - "META.d/**"
      - "**/*.md"
  pull_request_target:
    types:
      - opened
      - reopened
      - ready_for_review
      - synchronize
    paths-ignore:
      - "META.d/**"
      - "**/*.md"
  workflow_dispatch: {} # allow manual triggering just in case
concurrency: ${{ github.workflow }}-${{ github.head_ref }}
env:
  GIT_REF: ${{ github.head_ref || github.ref }}
  GIT_REPO: ${{ github.repository }}
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: read
      pull-requests: read
      actions: read
      checks: read
      statuses: read
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ env.GIT_REF }}
          repository: ${{ env.GIT_REPO }}
      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 18
      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile
      - name: Grab data updates
        run: node ./scripts/collect-status.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Site
        run: yarn build
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        id: artifact-upload-step
        with:
          name: build-artifact
          path: _site
          retention-days: 14
  publish:
    name: Publish to GH Pages
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request && github.ref == 'refs/heads/main' }}
    needs:
      - build
    permissions:
      contents: write
      pages: write
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: build-artifact
          path: _site
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4           # TSCCR: could not find entry for peaceiris/actions-gh-pages
        with:
          publish_dir: ./_site
          github_token: ${{ secrets.GITHUB_TOKEN }}
  report:
    name: Report status
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request && failure() }}
    needs:
      - build
    permissions:
      contents: read
    steps:
      - name: Send failures to Slack
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          webhook: ${{ secrets.FAILURE_SLACK_WEBHOOK_URL }}
          webhook-type: webhook-trigger
          payload: |
            {
              "name": "cdktf-provider-dashboard",
              "run_url": "https://github.com/cdktf/cdktf-provider-dashboard/actions/runs/${{ github.run_id }}"
            }
