name: "Add Copyright Headers"
on:
  pull_request_target:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  workflow_dispatch: {}
concurrency: ${{ github.workflow }}-${{ github.head_ref }}
env:
  GIT_REF: ${{ github.event.pull_request.head.ref }}
  GIT_REPO: ${{ github.event.pull_request.head.repo.full_name }}
  PR_ID: ${{ github.event.pull_request.number }}
jobs:
  add-to-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ env.GIT_REF }}
          repository: ${{ env.GIT_REPO }}
      - name: Set git identity
        run: |-
          git config user.name "hashicorp-copywrite[bot]"
          git config user.email "110428419+hashicorp-copywrite[bot]@users.noreply.github.com"
      - name: Setup Copywrite tool
        uses: hashicorp/setup-copywrite@32638da2d4e81d56a0764aa1547882fc4d209636 # v1.1.3
      - name: Add headers using Copywrite tool
        run: copywrite headers
      - name: Check if there are any changes
        id: get_changes
        run: echo "changed=$(git status --porcelain | wc -l)" >> $GITHUB_OUTPUT
      - name: Push changes
        if: steps.get_changes.outputs.changed != 0
        run: |-
          git add .
          git commit -s -m "chore: add required copyright headers"
          git push origin HEAD:$GIT_REF
