name: Update local data
on:
  schedule:
    - cron: '39 21 * * 0'
  workflow_dispatch: {}
concurrency: ${{ github.workflow }}-${{ github.ref }}
env:
  GIT_REF: ${{ github.ref }}
  GIT_REPO: ${{ github.repository }}
jobs:
  update-data:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: read
      pull-requests: read
      actions: read
      checks: read
      statuses: read
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ env.GIT_REF }}
          repository: ${{ env.GIT_REPO }}
      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 18
      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile
      - name: Grab data updates
        run: node ./scripts/collect-status.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create pull request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          base: main
          branch: auto/weekly-data-update
          commit-message: "chore: update local data"
          title: "chore: update local data"
          body: |-
            This PR updates the data in the repo. This helps to ensure that if you're checking out the repo to e.g. do local development, you're working from a relatively up-to-date data snapshot.
          labels: automerge,auto-approve
          token: ${{ secrets.GH_WORKFLOW_TOKEN }}
          author: team-tf-cdk <github-team-tf-cdk@hashicorp.com>
          committer: team-tf-cdk <github-team-tf-cdk@hashicorp.com>
          signoff: true
          delete-branch: true
